<%- include('../../partials/header'); %>
<h2>beverages</h2>
<table cellspacing="0">
  <thead>
    <th scope="col">Name</th>
    <th scope="col">Category</th>
    <th scope="col">Shop</th>
    <th scope="col">isSeasonal</th>
  </thead>
  <tbody>
    <% beverages.forEach(function (beverage) { %>
    <tr>
      <td><%= beverage.name %></td>
      <td><%= beverage.category %></td>
      <td><%= beverage.shop %></td>
      <td><%= beverage.isSeasonal %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<%- include('../../partials/footer'); %>
