<%- include('../../partials/header'); %>
<h1>Starbucks beverages</h1>
<table cellspacing="0">
  <thead>
    <th scope="col">ドリンク名</th>
    <th scope="col">カテゴリー</th>
    <th scope="col">限定販売店舗</th>
    <th scope="col">季節限定商品</th>
  </thead>
  <tbody>
    <% beverages.forEach(function (beverage) { %>
    <tr>
      <td><%= beverage.name %></td>
      <td><%= beverage.category %></td>
      <td><%= beverage.shop %></td>
      <td><%= beverage.isSeasonal? "◯" : "" %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<%- include('../../partials/footer'); %>
